.container{
    display: flex;
    flex-direction: row;
}

.outerLayer{
    width: 70%;
    text-align: left;
}

.section{
    margin-top: 10px;
    margin-bottom: 20px;

}

.sectionTile{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border: none;
}

.sectionDetails{
    padding-bottom: 10px;
    font-style: italic;
    color: darkgray;
}

.content{
    text-align: justify;
}

.text-color{
    color: rgb(8, 34, 30);
}

.location{
    padding-top: 10px;
    color:darkslategrey;
    font-weight: bold;
}

.header-top__seperator {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
}







.rightSideMenu{
    justify-content: center;
    padding-left: 80px;
    text-align: left;
    align-items: center;
}

.padding-button{
    margin-left: 80px;
    margin-bottom: 30px;
}

.component{
    align-items: center;
    justify-content: center;
}

.tileRight{
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: double;
    text-transform: uppercase;
}

.itemRight{
    padding-bottom: 10px;
    color: rgb(65, 128, 2);
}